<div class="header">
        <div class="left">
            <button class="header-button">
                <img src="assets/icons/heart.png" class="header-icon">
            </button>
            <button class="header-button">
                <img src="assets/icons/info.png" class="header-icon">
            </button>
        </div>
        <h1 class="text header-text">Guess The Animal</h1>
        <div class="right">
            <button class="header-button">
                <img src="assets/icons/stats.png" class="header-icon">
            </button>
            <button class="header-button">
                <img src="assets/icons/help.png" class="header-icon">
            </button>
        </div>
</div>
