.header-icon {
    height: 24px;
    width: 24px;
}

.header-button {
    background-color: #232020;
    border: 0;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;

    :hover {
        opacity: .75;
        cursor: pointer;
    }

    :active {
        opacity: .5;
    }
}

.header-text {
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.left {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}

.right {
    margin-right: 12px;
    display: flex;
    flex-direction: row;
}

.header {
    border-bottom: solid 1px #F4F3EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}