.header-icon {
    height: 32px;
    width: 32px;
}

.header-button {
    background-color: #232020;
    border: 0;

    :hover {
        opacity: .75;
        cursor: pointer;
    }

    :active {
        opacity: .5;
    }
}

.header-text {
    font-size: 32px;
    margin: 0;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.right {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.header {
    border-bottom: solid 1px #F4F3EE;
    display: flex;
    flex-direction: row;
    max-width: 900px;
}