input {
    background-color: #232020;
    color: #F4F3EE;
    width: auto;
    height: 32px;
    border: none;
    outline: none;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
}

textarea {
    overflow: auto;
}

.notFocused {
    border: 1px solid #34332E;
}

.focused {
    border: 1px solid #F4F3EE;
}

.skipBtn, .submitBtn {
    margin-top: 12px;
    background-color: #232020;
    border: 1px solid #F4F3EE;
    color: #F4F3EE;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 16px;
}

.submitBtn {
    color: #99B8FF;
    border-color: #99B8FF;
}

.skipBtn:hover, .submitBtn:hover {
    opacity: .75;
    cursor: pointer;
}

.guess {
    color: #F4F3EE;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

.right {
    color: #7fff83;
}

.wrong {
    color: #ff5f5d;
}

.guessWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid rgba(244, 243, 238, 60%);
    padding-left: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    max-width: 436px;
    width: 100%;
}

.share {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #232020;
    color: #99B8FF;
    border: 1px solid #99B8FF;
    padding: 12px 16px;
}

.share:hover {
    opacity: 60%;
    cursor: pointer;
}

.clicked {
    border-color: #7fff83;
    color: #7fff83;
}

.popdownList {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid rgba(244, 243, 238, 60%);
    border-top: 0;
    max-width: 218px;
    width: 100%;
    background-color: #232020;
}

.popdownText {
    text-align: center;
    color: #F4F3EE;
    font-size: 16px;
    font-family: sans-serif;
    padding: 11px 12px;

}

.popdownText:hover {
    opacity: 65%;
    cursor: pointer;
}